

.section-header::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 5px;
    background: #18d26e;
    bottom: 0;
    left: calc(50% - 25px);
}

.committee-header h5{
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;

}

.committee-header::before {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #18d26e;
    bottom: 0;
    left: calc(50% - 25px);
}

.header {
    margin-top: 2rem;
}

table{
    text-align: center;
    font-size: large;
    border: 2px solid #212529 !important;
}

table tr td{
    width: 410px;
}
.council-members {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: rgba(20, 20, 200, 0.852);
    font-weight: 800;
    text-decoration: underline;
    text-align: center;
    display: block;
}